[package]
name = "bamboo-builtin-tools"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = "0.1"
chrono = { version = "0.4", features = ["serde"] }
serde_json = "1"
tokio = { version = "1", features = ["full"] }
bamboo-core = { path = "../bamboo-core" }
